db.sqlite3
bin
lib
lib64
share
__pycache__/
include
.settings
.pydevproject
.project
*.py[cod]
*.pyc
TODO/
analysisportal/pricescrapers/data/
selenium
logs/scraper/*
logs/*
staticroot
Webpages
pip-selfcheck.json
