<!DOCTYPE html>
<html style= "height: 100%">
    <head>
        <meta charset="UTF-8">

        <title>Superfancy ExtJS App!</title>

        
        <link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/gpl/5.0.0/build/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css">
        <script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/5.0.0/build/ext-all-debug.js"></script>
        
        {% load static %}
        <script src="{% static "analysisportal/portal.js" %}"></script>
        
       <!-- 
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/modern/theme-cupertino/resources/theme-cupertino-all.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all.js"></script>
-->

    </head>
    <body style= "height: 100%">
       <!-- ><noscript>Ohne Javascript ist hier nix los.</noscript> -->
    </body>
</html>