<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% extends "header.html" %}
        {% block title %}Hello ExtJs{% endblock %}
        {% block head %}
        <script type="text/javascript" src="/static/analysisportal/constants.js"></script>
        <script type="text/javascript" src="/static/analysisportal/grdt-all.js"></script>
        <script type="text/javascript" src="/static/analysisportal/option-search.js"></script>
        <script type="text/javascript" src="/static/analysisportal/strategy-jerry-lee.js"></script>
        <script type="text/javascript" src="/static/analysisportal/analysisportal.js"></script>
        {% endblock %}
    </body>
</html>
