<!DOCTYPE html>
<!-- Do NOT put any DOCTYPE here unless you want problems in IEs. -
    ->
    <html>
    <head>
    <!-- The following line defines content type and utf-8 as
    character set. --><!-- If you want your application to work flawlessly with
    various local --><!-- characters, just make ALL strings, on the page, json
    and database utf-8. -->
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/static/extjs-6.2.0/classic/theme-triton/resources/theme-triton-all.css">
        <link rel="stylesheet" type="text/css" href="/static/extjs-6.2.0/packages/charts/classic/triton/resources/charts-all.css">
        <link rel="stylesheet" type="text/css" href="/static/extjs-6.2.0/packages/ux/classic/triton/resources/ux-all.css">
        <script type="text/javascript" src="/static/extjs-6.2.0/ext-all.js"></script>
        <script type="text/javascript" src="/static/extjs-6.2.0/classic/theme-triton/theme-triton.js"></script>
        <script type="text/javascript" src="/static/extjs-6.2.0/packages/charts/classic/charts.js"></script>
        <script type="text/javascript" src="/static/extjs-6.2.0/packages/ux/classic/ux.js"></script>
    </head>
    <body>{% block head %}{% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>
